.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* .grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
} */ 

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}