:root {
    /* Palette */
    --primary-solid: #FE9F10;
    --primary-900: #D27E00;
    --primary-700: rgba(254, 159, 16, 0.9);
    --primary-500: #d38004;
    --primary-300: rgba(254, 159, 16, 0.1);

    --secondary-solid: #a8cf96;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: #666666;
    --dark-300: rgba(34, 34, 34, 0.05);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #fff8e2;
    --light-bg-accent: #F9FAFB;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: "Poppins", serif;
    --alternative-font: "Lobster", serif;

    /* Font-sizes */
    --text-6xl: 3.75rem;
    --text-5xl: 3rem;
    --text-4xl: 2.25rem;
    --text-3xl: 1.8rem;
    --text-2xl: 1.5rem;
    --text-xl: 1.25rem;
    --text-lg: 1.125rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;

    /* Spacings */
    --spacing-0: 0rem;            /* 0px */
    --spacing-px: 0.0625rem;      /* 1px */
    --spacing-0s: 0.125rem;      /* 2px */
    --spacing-1: 0.25rem;         /* 4px */
    --spacing-1s: 0.375rem;      /* 6px */
    --spacing-2: 0.5rem;          /* 8px */
    --spacing-2s: 0.625rem;      /* 10px */
    --spacing-3: 0.75rem;         /* 12px */
    --spacing-3s: 0.875rem;      /* 14px */
    --spacing-4: 1rem;            /* 16px */
    --spacing-5: 1.25rem;         /* 20px */
    --spacing-6: 1.5rem;          /* 24px */
    --spacing-7: 1.75rem;         /* 28px */
    --spacing-8: 2rem;            /* 32px */
    --spacing-9: 2.25rem;         /* 36px */

    /* Sizing */
    --sizing-10: 2.5rem;          /* 40px */
    --sizing-11: 2.75rem;         /* 44px */
    --sizing-12: 3rem;            /* 48px */
    --sizing-14: 3.5rem;          /* 56px */
    --sizing-16: 4rem;            /* 64px */
    --sizing-20: 5rem;            /* 80px */
    --sizing-24: 6rem;            /* 96px */
    --sizing-28: 7rem;            /* 112px */
    --sizing-32: 8rem;            /* 128px */
    --sizing-36: 9rem;            /* 144px */
    --sizing-40: 10rem;           /* 160px */
    --sizing-44: 11rem;           /* 176px */
    --sizing-48: 12rem;           /* 192px */

    /* Shadow */
    --btn-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    --shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    
}