.form-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}


.input-container{
    gap: .25rem;
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.input-field {
    position: relative;
    width: 100%;
}

.label-name {
    display: none;
}

.form-icon {
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* margin-left: 1rem; */
}

.user-group-icon {
    margin-left: 2px;
}

.form-input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #cecece;
    color: var(--light-font-solid);
    margin: 1rem 0;
    width: 100%;
    padding: 0 .75rem;
    padding-left: 2.5rem;
    height: 50px;
}
.form-input:focus-visible {
    border: none;
    border-bottom: 2px solid white;
    outline:none ;
}

.form-input::placeholder {
    color: var(--light-font-solid);
    font-family: var(--base-font);
    font-size: var(--text-lg);
}

.form-name:focus-visible::placeholder {
    color: #cecece;
}

.form-select {
    color: var(--light-font-solid);
    font-family: var(--base-font);
    font-size: var(--text-lg);
}
.option-select {
    background-color: rgba(0, 0, 0, 0.884);
}

.form-textarea {
    resize: none;
    padding-top: .75rem;
    color: var(--light-font-solid);
}

.btn-form {
    margin: 1.5rem 0 2rem;
}

.form-date {
    color-scheme: dark;
}

.form-date[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0);
    border-radius: 50%;
    padding: 1px;
}

@media ( min-width: 1024px) {
    .form-area {
        flex-direction: row;
        gap: 2rem;
    }

    .btn-form {
        margin: 1.5rem 0;
    }
}

