

.testimonial-card {
    min-width: 270px;
    min-height: 370px;
    max-width: 300px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: var(--dark-300);
    flex-direction: column;
    box-sizing: border-box;
}

.testimonial-active {
    background-color: var(--light-bg-accent);
}

.testimonial-card p {
    color: var(--dark-500);
    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: var(--text-sm);
    line-height: 1.7;
    padding: 0 3rem;
    /* padding-top: 4rem; */
}

.testimonial-card-top {
    margin: 0;
    margin-top: -20%;
}

.testimonial-card-profile {
    width: 100px;
    margin: 0 auto;
    background-color: var(--light-bg-solid);
    border-radius: 50%;
    border: .5rem solid white;
}

.rating {
    margin: 0 auto;
}

.rating > img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(686%) hue-rotate(1deg) brightness(106%) contrast(101%);
}

.testimonial-card > picture > img {
    filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(686%) hue-rotate(1deg) brightness(106%) contrast(101%);
    width: 70px;
}